<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/486587c22a.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://127.0.0.1:5000/css/style.css">
    <link rel="stylesheet" href="http://127.0.0.1:5000/css/bootstrap/bootstrap.min.css">

    <title>PC Shop</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a id="logo" class="navbar-brand" href="/">PC Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Početna <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filteri
                </a>
<!--                <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                    <label class="dropdown-item">Procesor intel <input onchange="dodajFilter(this)"  id="chk1" value="filterIntel" type="checkbox"></label>-->
<!--                    <label class="dropdown-item">Procesor AMD <input onchange="dodajFilter(this)" class="filter" value="filterAmd" id="ckh" value="amd" type="checkbox">   </label>-->
<!--                    <label class="dropdown-item">Graficka kartica <input id="chk" value="gpu" type="checkbox"></label>-->
<!--                </div>-->
            </li>
            <li class="nav-item">

                <select class="custom-select mr-sm-2"  id="select">
                    <option  name="sort" value="null">--Sortiraj--</option>
                    <option  name="sort" value="1">Ceni rastuće</option>
                    <option  name="sort" value="2">Ceni opadajuće</option>
                    <option  name="sort" value="3">Abecedno A-Z</option>
                    <option  name="sort" value="4">Abecedno Z-A</option>
                </select>
            </li>
        </ul>
        <a class="nav-link" href="/korpa"><i class="fas fa-shopping-cart"></i> Korpa</a>
        <a class="nav-link" href="/loginForm"><i class="fas fa-sign-in-alt"></i> Log in</a>
    </div>
</nav>
<form action="/pretraga" method="get" class="form-inline float-right">
    <input class="form-control mr-sm-2" type="search" name="pretraga" placeholder="Pretraži proizvode" aria-label="Search">
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Pretraži</button>
</form>

<div class="row" id="prikaz">
    {{#each proizvodi}}
        <div class="col-3" style="width: 368px">
            <div class="card" style="width: 18rem;">
                <img src="{{this.image}}"  class="card-img-top" alt="Product image">
                <div class="card-body">
                    <h5 class="card-title">{{this.name}}</h5>
                    <p class="card-text"><strong> CENA {{this.price}}RSD</strong></p>
                    <button data-toggle="collapse" data-target="#collapse{{this.id}}" aria-expanded="false" aria-controls="collapse{{this.id}}"
                            class="btn btn-outline-dark">Detaljnije
                    </button>
                    <button onclick="kupi({{this.id}})"  class="btn btn-outline-dark">Kupi</button>
                    <div class="collapse" id="collapse{{this.id}}">
                        <div class="card card-body">
                            <h6>Specifikacije</h6>
                            <p class="cpu">Procesor: {{this.cpu}}</p>
                            <p>Broj jezgara: {{this.numberOfCores}}</p>
                            <p>Memorija: {{this.memory}}</p>
                            <p>RAM: {{this.ram}}</p>
                            <p>Dijagonla: {{this.screenSize}}</p>
                            <p>Rezolucija: {{this.screenResolution}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>

<script>
    function prikazPodataka(lista) {
        let prikaz = document.getElementById("prikaz");
        let html = "";
        prikaz.innerHTML = "";
        for (const proizvod of lista) {
            html += `<div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="${proizvod.image}" class="card-img-top" alt="Product image">
                <div class="card-body">
                    <h5 class="card-title">${proizvod.name}</h5>
                    <p class="card-text"><strong> CENA ${proizvod.price} RSD</strong></p>
                    <button data-toggle="collapse" data-target="#collapse${proizvod.id}" aria-expanded="false" aria-controls="collapse${proizvod.id}"
                            class="btn btn-outline-dark">Detaljnije
                    </button>
                     <button onclick="kupi(${proizvod.id})"  class="btn btn-outline-dark">Kupi</button>
                    <div class="collapse" id="collapse${proizvod.id}">
                        <div class="card card-body">
                            <h6>Specifikacije</h6>
                            <p>Procesor: ${proizvod.cpu}</p>
                            <p>Broj jezgara: ${proizvod.numberOfCores}</p>
                            <p>Memorija: ${proizvod.memory}</p>
                            <p>RAM: ${proizvod.ram}</p>
                            <p>Dijagonla: ${proizvod.screenSize}</p>
                            <p>Rezolucija: ${proizvod.screenResolution}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            `;
        }
        prikaz.innerHTML = html;

    }
        // Sortiranje
        document.querySelector("#select").onchange = function () {
            let element = document.querySelector("#select");
            $.ajax({
                url: "/api/sortiraj",
                method: "GET",
                data: {
                    "sort": element.value
                },
                success: function (response) {
                    let elementi = JSON.parse(response);
                    prikazPodataka(elementi);
                    console.log(elementi);
                }
            })
        }
        // Dodavanje proizvoda u korpu
        function kupi(id) {
            $.ajax({
                url:"/dodajKorpu",
                method: "post",
                data: {
                    "id": id
                },
                success:function () {
                    alert("Proizvod uspesno dodat u korpu");
                }
            })
        }
</script>
</body>
</html>