<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://127.0.0.1:5000/css/bootstrap/bootstrap.css">
    <script src="https://kit.fontawesome.com/486587c22a.js" crossorigin="anonymous"></script>

    <title>Korpa</title>
</head>
<body>
    <h1 class="text-center"><i class="fas fa-shopping-cart"></i> Korpa</h1>
    <hr>
    {{#if korpa}}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">NAZIV</th>
                <th scope="col">CENA</th>
                <th scope="col">KOLICINA</th>
                <th scope="col">Izbaci iz korpe</th>

            </tr>
            </thead>
        <tbody id="table">
        {{#each korpa}}
            <tr>
                <th scope="row">{{this.name}}</th>
                <th class="cene" value="{{this.price}}" scope="row">{{this.price}}</th>
                <th scope="row">1</th>
                <th scope="row"> <a  onclick="izbaciProizvod({{this.id}})" style="cursor: pointer">&#10006;</a></th>
            </tr>
        {{/each}}
    {{else}}
        <h2 class="text-center mt-5">U KORPI NEMA PROIZVODA</h2>
    {{/if}}
        </tbody>
    </table>


    <div class="prikaz text-center"></div>
    <script src="http://127.0.0.1:5000/js/jquery-3.3.1.min.js"> </script>
    <script>
        let div = document.querySelector(".prikaz");
        let cene = document.getElementsByClassName("cene");
        let racun  = 0;
        if(cene.length > 0) {
            for (const cena of cene) {
                racun += parseFloat(cena.innerText);
            }
            div.innerHTML += `<h3>Vaš račun iznosi ${racun} RSD </h3>`
        }

        function izbaciProizvod(el) {
            $.ajax({
                url:"/izbaciProizvod",
                method:"post",
                data: {
                    "id":el
                },
                success: function (response){
                    location.reload();
                    alert(response);
                }
            })
        }
    </script>
</body>
</html>